// Fonts
@import 'fonts';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'intl-tel-input/build/css/intlTelInput.css';

@import 'bootstrap-icons/font/bootstrap-icons.css'; 

[data-bs-theme=dark] {
    --bs-body-bg: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
    }

    footer {
        background: #333333;
    }
.btn-light:hover,
.btn-light.active {
    border: 1px solid #fff;
    color: #fff !important;
    background: transparent;
}
.btn-light.active.dark {
    border: 1px solid #333333;
    color: #333333 !important;
    background: transparent;
}

.btn-dark:hover {
    border: 1px solid #000;
    color: #000 !important;
    background: transparent;
}

div[data-id="experience"] ul li::marker {
    content: "— ";
}

.list-g-itineraries {
    width: 24px;
    height: 24px;
    background: #2A8A0E;
    color: #ffffff;
    border-radius: 50%;    
}
.list-v-itineraries {
    width: 24px;
    height: 24px;
    background: #860092;
    color: #ffffff;
    border-radius: 50%;    
}

.custom-input-light {
width: 219px;
height: 44px;
background: #ffffff;
border: 1px solid #B0B0B0;
color: #333333;
}
.custom-input {
width: 194px;
height: 44px;
background: #3D3D3D;
border: 1px solid #535353;
color: #ffffff;
}

.custom-textarea {
width: 400px;
height: 80px;
background: #3D3D3D;
border: 1px solid #535353;
color: #ffffff;
}
.custom-textarea-light {
width: 450px;
height: 80px;
background: #ffffff;
border: 1px solid #B0B0B0;
color: #333333;
}

.color-text {
    color: #333333;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.dropdown-toggle::after {
    display: none;
}

a:hover {
    opacity: .75;
}

.iti__selected-flag .iti__flag {
    display: none !important;
}

.nav-link.active {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 1rem;
    margin-right: 1rem !important;
}

.board-link {
    cursor: pointer;    
}
.board-link:hover {
    opacity: .75;
}
.board-link.active {
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 0;
}

.modal-content {
    border: none;
    border-radius: 0;
}
.modal-header {
    border-bottom: none;
}