// Fonts
@import 'fonts';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'intl-tel-input/build/css/intlTelInput.css';

@import 'bootstrap-icons/font/bootstrap-icons.css';

[data-bs-theme=dark] {
    --bs-body-bg: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
}

footer {
    background: #333333;
}

.btn-light:hover,
.btn-light.active {
    border: 1px solid #fff;
    color: #fff !important;
    background: transparent;
}

.btn-light.active.dark {
    border: 1px solid #333333;
    color: #333333 !important;
    background: transparent;
}

.btn-dark:hover {
    border: 1px solid #000;
    color: #000 !important;
    background: transparent;
}

.btn-pink {
    border: 1px solid #EAECF0;
    color: #252525 !important;
    background: #FFF7E8;
}

.btn-pink:hover {
    opacity: .95;
    border: 1px solid #EAECF0;
    color: #252525 !important;
    background: #FFF7E8;
}

div[data-id="experience"] ul li::marker {
    content: "— ";
}

.list-g-itineraries {
    width: 24px;
    height: 24px;
    background: #2A8A0E;
    color: #ffffff;
    border-radius: 50%;
}

.list-v-itineraries {
    width: 24px;
    height: 24px;
    background: #860092;
    color: #ffffff;
    border-radius: 50%;
}

.custom-input-light {
    width: 219px;
    height: 44px;
    background: #ffffff;
    border: 1px solid #B0B0B0;
    color: #333333;
}

.custom-input {
    width: 194px;
    height: 44px;
    background: #3D3D3D;
    border: 1px solid #535353;
    color: #ffffff;
}

.custom-textarea {
    width: 400px;
    height: 80px;
    background: #3D3D3D;
    border: 1px solid #535353;
    color: #ffffff;
}

.custom-textarea-light {
    width: 450px;
    height: 80px;
    background: #ffffff;
    border: 1px solid #B0B0B0;
    color: #333333;
}

.input-booking {
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #D1D1D1;
    color: #333333;
    border-radius: 0;
}

.input-booking:focus {
    background-color: #ffffff;
    color: #333333;
    box-shadow: none;
    border-color: #D1D1D1;
}
.input-booking:disabled {
    background-color: #ffffff;
}

.input-booking::placeholder {
    color: #C1C1C1;
    border-color: #D1D1D1;
}

.form-check-input {
    background-color: #ffffff;
    border-color: #D1D1D1;
}

.form-check-input:focus {
    border-color: #D1D1D1;
    background-color: #ffffff;
    box-shadow: none;
}

.form-check-input:checked {
    border-color: #D1D1D1;
    background-color: #333333;
    box-shadow: none;
}

.color-text {
    color: #333333;
}

.bg-main {
    background: #333333;
}

select:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.form-select:focus {
    box-shadow: none;
    border-color: #D1D1D1;
}
.form-select option {
    height: 46px;    
}
.form-select option:hover {
    background: #F5F5F5; 
}

.dropdown-toggle::after {
    display: none;
}

a:hover {
    opacity: .75;
}

.iti__selected-flag .iti__flag:not(#bookingForm .iti__flag) {
    display: none !important;
}

.nav-link.active {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 1rem;
    margin-right: 1rem !important;
}

.board-link {
    cursor: pointer;
}

.board-link:hover {
    opacity: .75;
}

.board-link.active {
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 0;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header {
    border-bottom: none;
}

[data-bs-theme=dark] .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #333333;
    background-color: transparent;
    box-shadow: none;
}

.cc-deny,
.cc-allow {
    text-decoration: none;
}

.c-p {
    cursor: pointer;
}